name: Build and Release Go Application

on:
  workflow_dispatch

permissions:
  contents: write
  repository-projects: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            goos: linux
            goarch: amd64
            output: script-check
          - os: windows-latest
            goos: windows
            goarch: amd64
            output: script-check.exe

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'

    - name: Build Go Application
      run: go build -ldflags "-w -s" -o ${{ matrix.output }}
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: build-${{ matrix.os }}
        path: ${{ matrix.output }}
        if-no-files-found: error

  release:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download Build Artifacts (Linux)
      uses: actions/download-artifact@v4
      with:
        name: build-ubuntu-latest
        path: build

    - name: Download Build Artifacts (Windows)
      uses: actions/download-artifact@v4
      with:
        name: build-windows-latest
        path: build

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v2.0.${{ github.run_number }}
        name: Release v2.0.${{ github.run_number }}
        draft: false
        prerelease: false
        files: |
          build/script-check
          build/script-check.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
